// .centeredCarousel {
//     margin: 0 75px;
// }
.carousel.carousel-slider .control-arrow {
    color: black;
    background-color: #fff;
    opacity: 1;
}
.carousel .control-prev.control-arrow:before {
    border-right: 8px solid black;
}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid black;
}
.carouselFlat {
    display: flex;
    &__img {
        width: 28%;
        img {
            height: 100%;
        }
    }
    &__detail {
        width: 100%;
        text-align: left;
        padding: 0 18px;
        .detail_head {
            font-size: 16px;
        }
        .detail_text {
            font-size: 14px;
        }
        h3, p {
            margin: 0;
        }
    }
}
