.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 45px;
    margin: 0 50px;
    border-bottom: 1px dotted #bfced6;
    padding: 0 25px;
    .left-block {
        display: flex;
        align-items: center;
        .trending {
            width: 90px;
            height: 45px;
            color: #fff;
            background-color: #ff0000bf;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .topBest {
            margin-left: 20px;
            color: #808080ad;
            font-weight: 500;
        }
    }
    .right-block {
        display: flex;
        align-items: center;
        .dateSocial {
            display: flex;
            align-items: center;
            position: relative;
            margin-left: 22px;
            .date-show {
                margin: 0;
                &::after {
                    content: '';
                    width: 1px;
                    height: 80%;
                    background-color: #a9aaac;
                    position: absolute;
                    top: 3px;
                    margin-left: 10px;
                }
            }
        }
        .socialIcon {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 120px;
            margin-left: 17px;
        }
    }
}