.largeCard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
    border-bottom: 1px dotted;
}
.largeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    &-detail {
        padding: 10px 0;
        .detail-topicDate {
            margin: 0;
            font-size: 18px;
        }
        .detail-title {
            font-size: 24px;
            margin: 18px 0;
        }
        .detail-info {
            margin: 0;
            font-size: 18px;
        }
    }
}