.footer-block {
    background-color: #07121b;
    padding: 45px 70px;
    display: flex;
    &__item {
        width: 33%;
        border-right: 1px dotted #fff;
        padding-left: 55px;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            border: none;
        }
    }
    .detail-title {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
    }
    .countNumber {
        font-weight: 400;
        font-size: 45px;
    }
    .block-title {
        color: #fff;
        font-size: 24px;
        margin-top: 0;
    }
}
ul {
    list-style: none;
    padding: 0;
}
.newsCats_list {
    color: white;
    display: flex;
    flex-wrap: wrap;
    &-item {
        padding: 10px 0;
        width: 45%;
        font-size: 18px;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}
.copyrightRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #07121be6;
    color: #919394d9;
    padding: 10px 70px;
    font-size: 18px;
    .footer-list {
        display: flex;
        &-item {
            padding: 0 12px;
            a {
                text-decoration: none;
                color: #919394d9;
            }
        }
    }
}