.FeatureNews-block {
    &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .newsCard {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &-block {
            padding: 18px 12px;
            .title {
                margin: 0;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
                margin-top: 10px;
            }
        }
    }
}