.home {
    background-color: #b7b6b61a;
    padding: 35px 0;
    margin-top: 10px;
    padding-left: 75px;
    padding-right: 75px;
    .carousel_horizontal {
        margin-bottom: 40px;
    }
    .videoNews_block {
        display: flex;
        .video-carousel {
            width: 65%;
            display: flex;
            flex-direction: column;
            padding-right: 15px;
            .video-block {
                position: relative;
                width: 100%;
                .roundPlayBtn {
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    background-color: red;
                    top: 20px;
                    border-radius: 50%;
                    right: 20px;
                    border: transparent;
                    &::after {
                        content: '';
                        width: 0; 
                        height: 0; 
                        border-top: 15px solid transparent;
                        border-bottom: 15px solid transparent;
                        border-left: 15px solid #fff;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        bottom: 0;
                    }
                }
                .videoDetail {
                    position: absolute;
                    bottom: 0;
                    padding: 40px;
                    .videoHeading {
                        font-size: 34px;
                        color: white;
                        margin: 0;
                    }
                    .subText {
                        color: #fff;
                        margin: 0;
                        margin-top: 8px;                    
                    }
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    .marginTopBlock {
        margin-top: 20px;
    }
    .topNews {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        &-btn {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            justify-content: space-between;
            .whitePrimaryBtn {
                background-color: #fff;
                border: #fff;
                text-transform: uppercase;
                padding: 15px 30px;
                font-weight: 700;
                box-shadow: -1px 3px 9px #adcfe747;
                &:hover {
                    background-color: #4f93f9c7;
                    color: #fff;
                }
            }
        }
        &_block {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
        }
        &_row {
            // display: flex;
            // padding: 20px 0;
            // position: relative;
            &::after {
                content: '';
                width: 100%;
                position: absolute;
                border-bottom: 1px dotted;
                bottom: 0;
            }
            &:last-child::after {
                display: none;
            }
            &-img {
                width: 125px;
                img {
                    width: 100%;
                }
            }
            &-detail {
                padding: 2px 20px;
            }
            .detail-title {
                margin: 0;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
    .trendingAndSocial_block {
        display: flex;
        .trendingNews-container {
            width: 65%;
            display: flex;
            flex-direction: column;
            padding-right: 15px;
        }
        .socialMostInfo-container {
            display: flex;
            flex-direction: column;
            padding-left: 15px;
            width: 33%;
            .count-block {
                display: flex;
                flex-wrap: wrap;
            }
            .count-link {
                display: flex;
                width: 32%;
                height: 75px;
                align-items: center;
                // background-color: #3d3f65;
                text-decoration: unset;
                margin-right: 5px;
                margin-bottom: 5px;
                &.facebook {
                    background-color: #3d3f65;
                }
                &.twitter {
                    background-color: #1da1f2;
                }
                &.youtube {
                    background-color: #ff0000;
                }
                &.insta {
                    background-color: blueviolet;
                }
                &.vimeo {
                    background-color: skyblue;
                }
                &.medium {
                    background-color: #3e8863;
                }
                .count-text {
                    padding: 10px;
                }
                .count {
                    font-size: 23px;
                    font-weight: 700;
                    color: #fff;
                    margin: 0;
                }
                .text {
                    color: #fff;
                }
            }
        }
        .mostViewRows {
            .topNews_row-img {
                width: 96px;
            }
            .topNews_row-detail {
                padding: 2px 20px;
                width: 280px;
            }
        }
        .newsrow {
            display: flex;
            flex-wrap: wrap;
            .topNews_row {
                width: 47%;
                margin-right: 20px;
                &:nth-last-child(2)::after {
                    display: none;
                }
                &-img {
                    width: 130px;
                }
            }
        }
    }
}