body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carousel .slide{ background-color: transparent !important; }

button {
  cursor: pointer;
  &:hover {
    background-color: #4f93f9c7;
    color: #fff;
}
}
.iconbtn {
  background-color: transparent;
  border: 1px solid #a9a9a9;
  padding: 5px 7px;
}
.iconbtn + .iconbtn {
  margin-left: 10px;
}
.dateTip {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topNews_row {
  display: flex;
  padding: 20px 0;
  position: relative;
}
.countNumber {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 48px;
  color: gray;
  font-weight: 700;
  width: 50px;
}
.detail-topicDate {
  margin: 0;
  font-size: 14px;
  color: #a9aaac;
  .topic {
      text-transform: uppercase;
      color: #4f93f9c7;
      font-weight: 500;
      margin-right: 5px;
  }
}
