.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 75px;
    &-left-block {
        .navItemList {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            .navItem {
                padding-right: 11px;
                font-size: 18px;
                font-weight: 500;
                color: #403f3fe6;
                &.moreCat {
                    position: relative;
                    &::after {
                        content: '\02C5';
                        font-size: 15px;
                        position: absolute;
                        top: 3px;
                        right: 0px;
                    }
                }
            }
            .navItem + .navItem {
                margin-left: 10px;
            }
        }
    }
    &-right-block {
        display: flex;
        align-items: center;
        .divider {
            &::after {
                content: "";
                width: 2px;
                height: 33px;
                background: #727692;
                top: 0;
                right: 0;
                position: absolute;
            }
        }
        .searchProfile {
            display: flex;
            align-items: center;
            padding: 0 10px;
            position: relative;
            div + div {
                margin-left: 15px;
            }
        }
        .language {
            padding: 0 10px;
            position: relative;
        }
        .whetherLocation {
            display: flex;
            align-items: center;
            padding: 0 10px;
            .tempCity {
                padding: 10px;
                p {
                    margin: 0;
                }
            }
        }
        .dropDown {
            &Label {
                padding-right: 11px;
                font-size: 16px;
                font-weight: 500;
                color: #403f3fe6;
                &.moreCat {
                    position: relative;
                    &::after {
                        content: '\02C5';
                        font-size: 15px;
                        position: absolute;
                        top: 3px;
                        right: 0px;
                    }
                }
            }
        }
    }
}